
    <style>
        .corpo { 
            background-color: white;
            text-align: center;
            margin: 50px;
        }

        .agradecimento-box {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            max-width: 600px;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>

<div class="corpo">
    <div class="agradecimento-box">
        <h1>E-mail envido com sucesso!</h1>
        <h2>Agradecemos pelo seu contato!</h2>
        <p>Em breve retornaremos</p>
        <a href="/home"><button class="btn btn-primary w-50 py-3">Ok</button></a>
    </div>
</div>



