
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Page Header Start --> 
<div class="container py-2">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Contatos</h1>
</div> 
<!-- Page Header End -->


<!-- Contatos inicio-->
<div class="container-xxl py-2">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <p class="p-sobrefundo d-inline-block border rounded-pill py-1 px-4">Contatos</p>
          <h1>Contate-nos através dos canais abaixo</h1>
        </div>
        <div class="row g-4">

            <!-- Telefone -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="h-100 bg-light rounded d-flex flex-column align-items-center p-3">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white mb-3" style="width: 55px; height: 55px;">
                        <a href="tel:+5511991671967"><i class="fa fa-phone-alt text-primary"></i></a>
                    </div>
                    <div class="text-center">
                        <p class="mb-2">Telefone</p>
                        <h5 class="mb-0"><a href="tel:+5511991671967">(11)9 9167-1967</a></h5>
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="h-100 bg-light rounded d-flex flex-column align-items-center p-3">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white mb-3" style="width: 55px; height: 55px;">
                        <a href="mailto:marcuz.silva@hotmail.com"><i class="fa fa-envelope-open text-primary"></i></a>
                    </div>
                    <div class="text-center">
                        <p class="mb-2">Envie-nos um e-mail</p>
                        <h5 class="mb-0"><a href="mailto:marcuz.silva@hotmail.com">marcuz.silva@hotmail.com</a></h5>
                    </div>
                </div>
            </div>

            <!-- Endereço -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="h-100 bg-light rounded d-flex flex-column align-items-center p-3">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white mb-3" style="width: 55px; height: 55px;">
                        <a href="https://www.google.com/maps/place/R.+Arnaldo+Zumstein,+154+-+Jardim+Brasil,+Itupeva+-+SP,+13295-000/@-23.1678525,-47.0520112,17z/data=!3m1!4b1!4m6!3m5!1s0x94cf30cef5ad4e25:0xdcca67e98899fa91!8m2!3d-23.1678525!4d-47.0520112!16s%2Fg%2F11f24wqfj3?entry=ttu" target="_blank"><i class="fa fa-map-marker-alt text-primary"></i></a>
                    </div>
                    <div class="text-center">
                        <p class="mb-2">Endereço</p>
                        <h5 class="mb-0"><a href="https://www.google.com/maps/place/BIALI/@-23.160902,-47.055584,16z/data=!4m6!3m5!1s0x94cf3182e254a271:0x3c9bff3d19da3bca!8m2!3d-23.1609019!4d-47.0555841!16s%2Fg%2F11pcbxpcjm?hl=pt-BR&entry=ttu" target="_blank">Av. Brasil, 1038 - Jardim Sao Vicente, Itupeva - SP, 13295-000  "Espaço Biali 2° piso" </a></h5>
                    </div>
                </div>
            </div>




          <!--mapa-->
          <div class="col-lg-0 mb-4 wow fadeIn" data-wow-delay="0.5s">
            <div class="h-100" style="min-height: 400px;">
                <iframe class="rounded w-100 h-100"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7336.509421427119!2d-47.055584!3d-23.160902!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf3182e254a271%3A0x3c9bff3d19da3bca!2sBIALI!5e0!3m2!1spt-BR!2sbr!4v1708870769203!5m2!1spt-BR!2sbr"
                frameborder="0" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
          </div>


          <!--fotos espaço biali inicio-->
          <div class="col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.5s" style="position: relative;">
            <div class="h-50" style="min-height: 400px; position: relative;">
                <img class="rounded w-100 h-100" src="assets/img/biali 01.jpg" alt="">
                <h5 class="display-6 text-white mb-3 animated slideInDown" style="position: absolute; top: 80%; left: 18%; transform: translate(-50%, -50%); z-index: 1;">Estacionamento</h5>
            </div>
          </div>

          <div class="col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.5s" style="position: relative;">
            <div class="h-50" style="min-height: 400px; position: relative;">
                <img class="rounded w-100 h-100" src="assets/img/biali 02.jpg" alt="">
                <h5 class="display-6 text-white mb-3 animated slideInDown" style="position: absolute; top: 80%; left: 30%; transform: translate(-50%, -50%); z-index: 1;">Recepção</h5>
            </div>
          </div>

          <div class="col-lg-4 mb-4 wow fadeIn" data-wow-delay="0.5s" style="position: relative;">
            <div class="h-50" style="min-height: 400px; position: relative;">
                <img class="rounded w-100 h-100" src="assets/img/biali 03.jpg" alt="">
                <h5 class="display-6 text-white mb-3 animated slideInDown" style="position: absolute; top: 80%; left: 40%; transform: translate(-50%, -50%); z-index: 1;">Wifi</h5>
            </div>
          </div>
          <!--fotos espaço biali fim-->


          <!--inicio contato email-->
          <div class="col-lg-0 wow fadeIn" data-wow-delay="0.1s">
              <div class="bg-light rounded p-5">
                  <h1 class="mb-4 text-dark">Quer mais informações? Mandar uma dica, sugestão ou elogios? Fale com a gente!</h1>
                  <!--formulário-->
                  <form action="https://formsubmit.co/marcuz.silva@hotmail.com" method="POST"> 
                    <input type="hidden" name="_captcha" value="false"> <!-- Add this line if you want to disable captcha -->
                    <input type="hidden" name="_next" value="http://jj-solucoes-em-ti.github.io/terapias-main/obrigado"> <!--coloque o caminho da pagina ou url agradecendo -->
                    <input type="hidden" name="_subject" value="Novo envio!"> <!--valor usado para facilitar a resposta do email-->
                    <div class="form-group">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="name" class="form-control"  placeholder="Your Name" required>
                                <label for="name">Seu Nome</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                                <label for="email">Seu Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                                <label for="subject">Assunto</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" name="message" style="height: 100px" required></textarea>
                                <label for="message">Menssagem</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Enviar Menssagem</button>
                        </div>
                    </div>
                    </div>
                </form>
                <!--fim formulário-->
              </div>
          </div>
          <!--fim contato email-->
   
          

        </div>
    </div>
</div>
<!-- Contatos fim -->