
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

<!-- Page Header Start -->
<div class="container-fluid page-header-contato py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Contatos</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb text-uppercase mb-0">
                <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <p class="d-inline-block border rounded-pill py-1 px-4">Contatos</p>
      <h1>Contate-nos através dos canais abaixo</h1>
  </div>
      <div class="row g-4">
            <!-- Endereço -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="h-100 bg-light rounded d-flex flex-column align-items-center p-3">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white mb-3" style="width: 55px; height: 55px;">
                        <i class="fa fa-map-marker-alt text-primary"></i>
                    </div>
                    <div class="text-center">
                        <p class="mb-2">Endereço</p>
                        <h5 class="mb-0">R. Arnaldo Zumstein, 154 - Jardim Brasil, Itupeva - SP, 13295-000</h5>
                    </div>
                </div>
            </div>

            <!-- Telefone -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="h-100 bg-light rounded d-flex flex-column align-items-center p-3">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white mb-3" style="width: 55px; height: 55px;">
                        <a href="tel:+5511991671967"><i class="fa fa-phone-alt text-primary"></i></a>
                    </div>
                    <div class="text-center">
                        <p class="mb-2">Telefone</p>
                        <h5 class="mb-0"><a href="tel:+5511991671967">(11)9 9167-1967</a></h5>
                    </div>
                </div>
            </div>

            <!-- Email -->
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="h-100 bg-light rounded d-flex flex-column align-items-center p-3">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white mb-3" style="width: 55px; height: 55px;">
                        <a href="mailto:marcuz.silva@hotmail.com"><i class="fa fa-envelope-open text-primary"></i></a>
                    </div>
                    <div class="text-center">
                        <p class="mb-2">Envie-nos um e-mail</p>
                        <h5 class="mb-0"><a href="mailto:marcuz.silva@hotmail.com">marcuz.silva@hotmail.com</a></h5>
                    </div>
                </div>
            </div>


          <!--inicio formulário-->
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
              <div class="bg-light rounded p-5">
                  <p class="d-inline-block border rounded-pill py-1 px-4">Contate-nos</p>
                  <h1 class="mb-4">Quer mais informações? Mandar uma dica, sugestão ou elogios? Fale com a gente!</h1>
                  <!--formulário-->
                  <form action="https://formsubmit.co/marcuz.silva@hotmail.com" method="POST"> 
                    <input type="hidden" name="_captcha" value="false"> <!-- Add this line if you want to disable captcha -->
                    <input type="hidden" name="_next" value="/obrigado"> <!--coloque o caminho da pagina ou url agradecendo -->
                    <input type="hidden" name="_subject" value="Novo envio!"> <!--valor usado para facilitar a resposta do email-->
                    <div class="form-group">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" name="name" class="form-control"  placeholder="Your Name" required>
                                <label for="name">Seu Nome</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" name="email" class="form-control" placeholder="Your Email" required>
                                <label for="email">Seu Email</label>
                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <div class="form-floating">
                                <input type="tel" name="tel" class="form-control" placeholder="(99)9 9999-9999" required>
                                <label for="tel">Seu Celular</label>
                            </div>
                        </div>-->
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                                <label for="subject">Assunto</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" name="message" style="height: 100px" required></textarea>
                                <label for="message">Menssagem</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary w-100 py-3" type="submit">Enviar Menssagem</button>
                        </div>
                    </div>
                    </div>
                </form>
                <!--fim formulário-->
              </div>
          </div>

          
          <!--mapa-->
          <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="h-100" style="min-height: 400px;">
                <iframe class="rounded w-100 h-100"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.0643189373277!2d-47.052011199999995!3d-23.167852500000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf30cef5ad4e25%3A0xdcca67e98899fa91!2sR.%20Arnaldo%20Zumstein%2C%20154%20-%20Jardim%20Brasil%2C%20Itupeva%20-%20SP%2C%2013295-000!5e0!3m2!1spt-BR!2sbr!4v1701093676417!5m2!1spt-BR!2sbr"
                frameborder="0" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
            </div>
        </div>

          <!--<div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
              <div class="h-100" style="min-height: 400px;">
                  <iframe class="rounded w-100 h-100"
                  src="https://www.google.com/maps/@-19.9534926,-43.9311543,3a,75y,82.49h,90t/data=!3m6!1e1!3m4!1s3SNI2jej2BWoThxj514VfQ!2e0!7i16384!8i8192?entry=ttu"
                  frameborder="0" allowfullscreen="" aria-hidden="false"
                  tabindex="0"></iframe>
              </div>
          </div>-->

      </div>
  </div>
</div>
<!-- Contact End -->



<!--DEIXEI SE PRECISAR DE VOLTAR O ANTERIOR
<!--Endereço--
<div class="col-lg-4">
    <div class="h-100 bg-light rounded d-flex align-items-center p-5">
        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
            <i class="fa fa-map-marker-alt text-primary"></i>
        </div>
        <div class="ms-4">
            <p class="mb-2">Endereço</p>
            <h5 class="mb-0">R. Arnaldo Zumstein, 154 - Jardim Brasil, Itupeva - SP, 13295-000</h5>
        </div>
    </div>
</div>
-->


