




    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Carregando...</span>
        </div>
    </div>
    <!-- Spinner End -->

       <!-- Page Header Start -->
<div class="container-fluid page-header-servicos py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Terapias Manuais</h1>
        <nav aria-label="breadcrumb animated slideInDown">
        </nav>
    </div>
</div>
<!-- Page Header End -->
 
    <!--Carousel12-->
    <div class="content">
        <div class="site-section bg-left-half mb-5">
          <div class="container owl-2-style">  
            <h2 class="mx-auto mb-5 wow fadeInUp">Tratamento e Prevenção de Dores em Geral.</h2>
            <div class="owl-carousel owl-2">
                <div class="media-29101">
                    <a href="#"><img src="assets/img/1 Carousel Tratamento de Dores Articulaveis.png" alt="Image" class="img-fluid"></a>
                    <h3><a style="color:rgb(9, 191, 191)" href="#">Tratamento de Dores Articuláveis e Musculares!</a></h3>
                  </div>
                  <div class="media-29101">
                    <a href="#"><img src="/assets/img/2 Carousel Alinhamento de Postura.jpg" alt="Image" class="img-fluid"></a>
                    <h3><a style="color:rgb(9, 191, 191)" href="#">Alinhamento de Postura! </a></h3>
                  </div>
                  <div class="media-29101">
                    <a href="#"><img src="assets/img/3 Carousel Agende Sua Consulta.jpg" alt="Image" class="img-fluid"></a>
                    <h3><a style="color:rgb(9, 191, 191)" href="#">Agente Sua Consulta!</a></h3>
                  </div>
                  <div class="media-29101">
                    <a href="#"><img src="assets/img/4 Carousel Tratamento Personalizado.jpg" alt="Image" class="img-fluid"></a>
                    <h3><a style="color:rgb(9, 191, 191)" href="#">Tratamento Personalizado!</a></h3>
                  </div>
                  <div class="media-29101">
                    <a href="#"><img src="assets/img/5 Carousel Profissional Qualificado.png" alt="Image" class="img-fluid"></a>
                    <h3><a style="color:rgb(9, 191, 191)" href="#">Profissional Qualificado!</a></h3>
                  </div>                
                </div>
              </div>
            </div>
          </div>  
    <!--fim carousel12-->

    <!-- Team1 Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Tratamentos</p>
                <h1>Nossos Tratamentos!</h1>
            </div>
            <div class="row g-6">
                <div class="col-lg-3 col-md-4 wow fadeInUp mx-auto" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/1 Tratamento Quiropraxia Japonesa.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Quiropraxia Japonesa </h5>
                            <p class="text-primary">Seitai e o New Seitai</p>
                            <a class="btn btn-primary" href="#" role="button">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp mx-auto" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/2 Tratamento QuickMassage.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Quick </h5>
                            <p class="text-primary">Massage</p>
                            <a class="btn btn-primary" href="#" role="button">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp mx-auto" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/3 Tratamento Ventosa.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Ventosa</h5>
                            <p class="text-primary">Terapia</p>
                            <a class="btn btn-primary" href="#" role="button">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Team1 End -->

    <!-- Team2 Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-4 d-flex justify-content-center align-items-center">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/4 Tratamento Bandagem Elastica.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Bandagem </h5>
                            <p class="text-primary">Elástica</p>
                            <a class="btn btn-primary" href="#" role="button">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/5 Tratamento Massagem Terapeutica.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Massagem </h5>
                            <p class="text-primary">Terapêutica</p>
                            <a class="btn btn-primary" href="#" role="button">Saiba Mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="assets/img/6 Tratamento Eventos.jpg" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-4">
                            <h5>Eventos</h5>
                            <p class="text-primary">Empresariais</p>
                            <a class="btn btn-primary" href="#" role="button">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Team2 End -->


    <!-- Appointment Start -->
    <div style="text-align:center" class="container-xxl py-5 mx-auto">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p class="d-inline-block border rounded-pill py-1 px-4">Contato</p>
                    <h1 class="mb-4">Agende Seu Horário</h1>
                    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                         
                    </div>
                    <p class="mb-4">Temos o mais personalizado tratamento para você!</p>
                    <p class="mb-4">"CUIDE DO SEU BEM MAIS PRECIOSO, A SUA SAÚDE!"</p>
                    <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Entre em Contato</p>
                            <h5 class="mb-0">+55 11 99167-1967</h5>
                        </div>
                    </div>
                    <div class="bg-light rounded d-flex align-items-center p-5">
                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white" style="width: 55px; height: 55px;">
                            <i class="fa fa-envelope-open text-primary"></i>
                        </div>
                        <div class="ms-4">
                            <p class="mb-2">Entre em contato</p>
                            <h5 class="mb-0">tercorpo.david@gmail.com</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Appointment End -->


    <!-- Testimonial Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Alguns Depoimentos</p>
                <h1>O Que Dizem Nossos Pacientes!</h1>
            </div>
          
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/1 Depoimento Gabriel Danhão.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Gostaria de expressar minha satisfação ao David, tive uma ótima experiência durante todo o  meu tratamento e gostaria de compartilhar alguns dos motivos pelos quais estou tão feliz com o serviço prestado.

                            Em primeiro lugar, David demonstrou amplo conhecimento e habilidade incrível com os tratamentos utilizados no meu caso. Suas explicações detalhadas me deram uma compreensão clara do que estava acontecendo com meu corpo e dos benefícios que o tratamento quiroprático trouxe para mim. Essa sensação de transparência me fez sentir muito seguro. Além disso, o que mais me impressionou foi que consegui resolver meus problemas na região lombar e no pescoço, que sofria há algum tempo. Sua abordagem é personalizada e eficaz, e  minha qualidade de vida melhorou muito, hoje eu entendo que não é apenas quando se tem um problema, o motivo para procurar a quiropraxia deveria ser como ir a barbearia. Sou grato por ter conhecido um profissional tão talentoso.
                            
                            Muito obrigado por me informar sobre medidas preventivas. Ele não apenas abordou o problema atual, mas também me ensinou como evitar problemas semelhantes no futuro. Estas dicas de prevenção foram inestimáveis ​​e demonstraram o compromisso da clínica com a saúde e o bem-estar dos seus pacientes.</p>
                        <h5 class="mb-1">Gabriel Danhão</h5>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/2 Depoimento Oswaldo.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Ótimo atendimento, regulou meu sono desde a primeira sessão.</p>
                        <h5 class="mb-1">Oswaldo Shigeo</h5>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                </div>
                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/3 Depoimento Juliana.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Ótimo Profissional Recomendo!</p>
                        <h5 class="mb-1">Juliana Foguel</h5>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/4 Depoimento Alexandre.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Ótimo profissional, me ajudou demais!!!!</p>
                        <h5 class="mb-1">Alexandre Marinho de Souza</h5>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/5 Depoimento Diogo.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <p>Exelente Profissional, Recomendo a Todos!</p>
                        <h5 class="mb-1">Diogo021</h5>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/6 Depoimento Sheila.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">Sheila Pontes</h5>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                </div>

                <div class="testimonial-item text-center">
                    <img class="img-fluid bg-light rounded-circle p-2 mx-auto mb-4" src="assets/img/7 Depoimento Rebeca.png" style="width: 100px; height: 100px;">
                    <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">Rebeca Medeiros</h5>
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                </div>

                
            </div><br>
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4>Deixe Também o Seu Depoimento!</h4><br>
                <a class="btn btn-primary" href="https://g.co/kgs/ThfYBP " role="button"><i class="bi bi-star-fill"></i>Entrar</a>
                
                
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    


