
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->

       <!-- Page Header Start --> 
        <div class="container py-2">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Quem somos</h1>
        </div> 
       <!-- Page Header End -->

<!-- About Start -->
<div class="container-xxl py-2" style="margin-top: 10px;">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="assets/img/1 Carousel Tratamento de Dores Articulaveis.png" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="assets/img/1 Depoimento Gabriel Danhão.png" alt="" style="margin-top: -25%;">
                    <img class="img-fluid rounded w-75 align-self-end" src="assets/img/1 Tratamento Quiropraxia Japonesa.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="p-sobrefundo d-inline-block border rounded-pill py-1 px-4">Sobre Nós</p>
                <h1 class="mb-4">História da Empresa</h1>
                <p class="p-sobrefundo">
                    A empresa David Inácio - Terapias Manuais, foi desenvolvida em 2016, porém tudo começou em 2013 com uma brincadeira entre amigos.<br>
                    Eu estava massageando o pessoal e os mesmo estavam gostando muito, segundo eles: " Eu tenho uma mão boa para fazer a massagem".<br>
                    Foi quando eu percebi que me sentia bem ajudando amenizar as dores das pessoas, apesar de não ter conhecimento nenhum nessa época.<br>
                    Então eu decidi fazer o curso de massoterapia e aprender de fato como ajudar as pessoas de maneira correta, depois de me formar, fiz outros cursos e sigo até hoje, sempre buscando, sempre me aperfeiçoando.<br>
                    Atualmente sou formado e credenciado pela federação de terapias holísticas no Brasil, FTHBR 45.135.<br>
                    Dentre as terapias que realizo estão elas: Quiropraxia Japonesa (Seitai & New Seitai) , liberação Miofascial, massagem terapêutica, Ventosaterapia, Bandagem elástica, Quick Massage, entre outros.<br>
                </p>
                <p class="p-sobrefundo">
                    *Missão:* A minha missão diária é ajudar ao próximo com muita dedicação, amor, carinho e respeito, dando mais qualidade de vida e proporcionando um bem estar pleno para os meus pacientes.
                </p>
                <p class="p-sobrefundo">
                    *Visão:* Criar uma equipe multidisciplinar, onde tudo que os pacientes procuram estarão a disposição, terapeutas, massagista, psicólogo(a), enfermeiro, médico, enfim todos focados em um bem comum, ajudar o próximo com suas habilidades e aptidões.
                </p>
                <p class="p-sobrefundo mb-4">*Valores:* Terapia, Respeito, Relacionamento, Ética, Integridade, Comprometimento com o horário, Ajudar o próximo.</p>
               
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Consulte mais informação</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Back to Top --
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
-->